@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .App {
    text-align: center;
  }

}
